@font-face {
    font-family: myFirstFont;
    src: url(\assets\css\public\default\fonts\fontawesome-webfont.woff);
}

body{
    background-color: white;    
    font-family: 'PT Sans', sans-serif;
}

h1, h2, h3, h4{
    font-family: "Roboto";
}

.container{
    max-width: 1400px;
    margin: 0 auto;
    width: 100%;    
    padding: 0px 15px;
}
.container .back{
    padding-left: 15px;
}
.container .back a{
    background: rgba(141, 216, 66, 0.6);
    color: white;
    padding: 5px 15px;
    text-align: center;
    display: block;
    clear: both;
    max-width: 117px;
    margin-top: 10px;
    border: 0px;
}
.header .upper{
    background: #8dd842;
    padding: 10px 85px;
}
.header .middle .language{
    width: auto;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}
.header .upper .container {
    overflow: initial;
}
.header .middle .language .selected{
    cursor: pointer;
    text-align: right;
}
.header .middle .language .selected img{
    width: 50px;
    height: 25px;
}
.header .middle .language ul{
    display: none;
    list-style: none;
    padding: 0px;
}
.header .middle .language ul.open{
    display: block;
    position: absolute;
    background: #8dd842;
    z-index: 99;
    padding: 10px;
    border: 1px solid #23380f;
    top: 35px;
    right: 0;
}
.header .middle .language ul.open:before{
    display: block;
    content: '';
    height: 10px;
    width: 10px;
    top: -6px;
    right: 5px;
    position: absolute;
    background: #8dd842;
    border-top: 1px solid #23380f;
    border-right: 1px solid #23380f;
    transform: rotate(-46deg);
}
.header .middle .language ul li{
    cursor: pointer;
    max-width: 50px;
    max-height: 25px;
    margin-bottom: 5px;
}
.header .middle .language ul li img{
    width: 50px;
    height: 25px;
}

.header div.info{
    float: none;
    width: 100%;
    max-width: 815px;
    position: absolute;
    top: 0px;
    right: 0px;
    top: 50%;
    transform: translateY(-50%);
}
.header div.info ul{
    list-style: none;
    overflow: hidden;    
    margin-bottom: 0px;
}
.header div.info ul li{
    width: calc(100%/3);
    float: left;
    text-align: left;
    padding-left: 50px;   
    color: black;    
    position: relative;
    letter-spacing: 0.7px;
    line-height: 16px;
}
.header div.info ul li span{
}
.header div.info ul li a{
    color: black;
    display: block;
}
.header div.info ul li p{
    margin-bottom: 0px;
}
.header div.info ul li i.icon-phone,
.header div.info ul li i.icon-time{
    padding: 5px 7px;
}
.header div.info ul li i{
    position: absolute;
    left: 0;
    top: 0px;
    border: 1px dotted #70a942;
    padding: 5px;
    border-radius: 30px;
}
.header div.info ul li i:before{
    font-size: 20px;
    color: #70a942;
}
.header .middle{
    transition: all 0.4s ease-in-out 0s;
    z-index: 999;
    background: #ffffff;
    position: relative;
}
.header .middle > .container{
    position: relative;
    display: flex;
    max-width: 100%;
    padding-bottom: 10px;
    border-bottom: 1px solid #e4e2b8;
}
.header .middle div.logo{
    width: 140px;
    padding: 10px;
    box-sizing: border-box;
}
.header .middle div.logo img{
    width: 100%;
    max-width: 200px;;
}
.header .header-menu{
    background-color: transparent;
    width: fit-content;
    position: absolute;
    right: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.header  .middle .header-menu .container{
    position: relative;
    padding: 10px 10px;
    width: 100%;
}
.header .header-menu .navbar-nav{
    display: block;
    margin-bottom: 0px;
}
.header .header-menu .navbar-nav li{
    padding-top: 0px;
}
.header .header-menu .navbar-nav li a{
    padding: 10px;
    color: #0D2A0D;
    text-transform: capitalize;
    font-size: 18px;
    font-weight: 700;
    transition: all 0.6s ease-in-out 0s;
    font-family: 'Raleway', sans-serif;
}
.header .header-menu .navbar-nav li.active a{
    color: #8dd842;
}
.header .header-menu .navbar-nav li a:hover,
.header .header-menu .navbar-nav li a:focus{
    transition: all 0.6s ease-in-out 0s;
    color: #8dd842;
    background: transparent;
}
.header .header-menu .download{
    display: block;
    float: right;
    position: relative;
    top: 0px;
    right: 10px;
}
.header .header-menu .download ul{
    list-style: none;
}
.header .header-menu .download li{
    float: right;   
    width: 45%;
    max-width: 175px;    
    text-align: center;
}
.header .header-menu .download li:last-child{
    margin-top: 4px;
    margin-right: 10px;
}
.header .header-menu .download li:first-child{
    background: #7ec13a;
    padding: 10px;
}
.header .header-menu .download a{
    color: white;
    text-transform: uppercase;
    transition: all 0.6s ease-in-out 0s;
}
.header .header-menu .download a:hover,
.header .header-menu .download a:focus{
    text-decoration: none;
    transition: all 0.6s ease-in-out 0s;
    background: #6ea932;
}


.footer-container .footer{
    background: #0D2A0D;
    height: auto;
    position: relative;
    padding-bottom: 30px;
}
.footer-container .copyright{
    background: #0d2a0d;
    height: auto;
    text-align: center;
    padding: 20px 0px;
    color: #80B643;
    border-top: 1px solid black;
}
.footer-container .footer .container{    
    margin-top: 20px;
}
.footer-container .footer .container > .row{    
    width: calc(100%/3);
    float: left;
    text-align: left;
    margin: 0px;
    padding: 0 10px;
}
.footer-container .footer .container > .row ul{    
    padding: 0px;
    list-style: none;
    text-transform: capitalize;
    font-size: 16px;
    color: #fffbef;
}
.footer-container .footer .container > .row ul li{    
    padding: 2px 0;
}

.footer-container .footer .container > .row .social-icon{    
    z-index: 999;
    position: relative;
}
.footer-container .footer .container > .row .social-icon ul{    
    display: flex;
}
.footer-container .footer .container > .row .social-icon ul li{   
    padding: 0px; 
    margin-right: 20px;
}
.footer-container .footer .container > .row p{    
    padding-right: 20px;
    text-align: justify;
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 0px;
    color: #fffbef;
}
.footer-container .footer .container > .row h3{    
    font-size: 22px;
    line-height: 1;
    margin-bottom: 20px;
    padding-bottom: 4px;
    text-transform: uppercase;
    color: #3A7F0D;
    margin: 0 0 8px;
    font-weight: 900;
    letter-spacing: 1px;
}

.footer-container .footer .container > .row.about{    
    margin-top: 86px;
}
.footer-container .footer .container > .row.about .whatsapp{    
    position: relative;
    padding: 13px 0px;
    padding-left: 42px;
    margin-bottom: 20px;
}
.footer-container .footer .container > .row.about .whatsapp img{    
    position: absolute;
    top: -39px;
    left: -49px;
    width: 125px;
}

.footer-container .footer .container > .row.about .whatsapp .link{    
    z-index: 999;
    position: relative;
}

.footer-container .footer .container > .row .logo{    
    width: 100%;
    max-width: 65px;
    margin-bottom: 20px;
}
.footer-container .footer .container > .row .logo img{    
    width: 100%;
}


/*homepage*/

h1{
    font-family: 'Lato', sans-serif;
    text-align: center;
    margin-top: 40px;
    font-size: 30px;
    font-weight: 700;
}
h2{
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    font-weight: 700;
}
.homepage h4{
    font-family: 'Lato', sans-serif;
}

.homepage .slider img{
    width: 100%;
}
.homepage .slider .bx-wrapper{
    margin-bottom: 0px;
    border: 0px;
}
.homepage .why{
    background: #16293a;
    padding-bottom: 40px;
}
.homepage .why .container{
    position: relative;
    border-top: 5px solid #80B643;
    padding-top: 2px;
}
.homepage .why .container .title{
    display: flex;
    color: #80B643;
    margin-top: 30px;
    margin-bottom: 50px;
}
.homepage .why .container .title h2{
    font-size: 26px;
    width: 20%;
}
.homepage .why .container .title .overview{
    line-height: initial;
    width: 80%;
    margin-top: 19px;
    font-size: 20px;
    font-weight: 500;
}
.homepage .why ul{
    list-style: none;
    position: relative;
    width: 100%;
}
.homepage .why ul li{
    float: left;
    width: calc(100% / 3);
    margin-bottom: 20px;
    padding: 0px 45px;
    text-align: center;
    position: relative;
}
.homepage .why ul li .content{
    height: 430px;
    padding: 10px;
    padding-top: 15px;
    background: white;
    position: relative;
    border-radius: 0px;
    overflow: hidden;
}
.homepage .why ul li .content .image img{
    width: 60%;
    margin-top: 0px;
}
.homepage .why ul li .icon{
    background-color: rgb(141, 216, 66);
    width: 63px;
    height: 63px;
    position: relative;
    border-radius: 50px;
    left: 50%;
    z-index: 99;
    transform: translateX(-50%);
/*    transition: 0.8s;
    transform-style: preserve-3d;
    transition-timing-function: cubic-bezier(0.785, 0.135, 0.150, 0.860);*/
}
/*.homepage .why .side ul li:hover .icon{
    transform: rotate3d(0, 45, 0, 360deg);
}*/

.homepage .why ul li:hover .content{
    box-shadow: -9px 8px 0px 0px rgb(128 182 67);
    -webkit-box-shadow: -9px 8px 0px 0px rgb(128 182 67);
    -moz-box-shadow: -9px 8px 0px 0px rgba(250,167,34,0.75);
    transition: 0.2s ease all;
    background: transparent;
    border: 1px solid rgb(128 182 67);
    color: white;
    padding-top: 100px;

}
.homepage .why ul li:hover .content .image img{
    display: none;
    transition: 0.2s ease all;
}
.homepage .why ul li:hover .content .icon{
    top: -10%;
    width: 100px;
    height: 100px;
    transition: 0.2s ease all;
}

.homepage .why ul li .icon{
   top: -100px;
}
.homepage .why ul li .icon img{
    width: 100%;    
    padding: 10px;
    transition: 0.4s;
}
.homepage .why ul li .icon .fa{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.homepage .why ul li .icon .fa:before{
    font-size: 35px;
    color: white;
}


.homepage .products{
    background: white;
    position: relative;
}
.homepage .products:after{
    display: block;
    width: 100%;
    height: 170px;
    position: absolute;
    bottom: 0;
    content: '';
    background: #16293A;
    z-index: 0;
}
.homepage .products .container{
    padding-top: 0px;
}
.homepage .products .container .title{
    margin-bottom: 20px;
    margin-top: 30px;
}
.homepage .products .container .title h2{
    position: relative;
    text-align: left;
    width: 100%;
    margin: 0 auto;
    color: #16293A;
}
.homepage .products .container{
    overflow: hidden;   
    text-align: center;
}
.homepage .products .container > a{
    background: rgb(250,167,34);
    color: black;
    font-weight: 700;
    padding: 10px 15px;
    text-align: center;
    display: block;
    clear: both;
    max-width: 200px;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 30px;
    position: relative;
    z-index: 9;
    border: 1px solid rgb(250,167,34);
}
.homepage .products .container > a:hover{
    box-shadow: -9px 8px 0px 0px rgb(128 182 67);
    -webkit-box-shadow: -9px 8px 0px 0px rgb(128 182 67);
    -moz-box-shadow: -9px 8px 0px 0px rgba(250,167,34,0.75);
    transition: 0.2s ease all;
    text-decoration: none;
    background: transparent;
    color: #80b643;
    border: 1px solid #80b643;
}
.homepage .products .container .gkImage{
    width: calc(100% / 4);
    float: left;    
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 2em;
    padding-top: 2em;
    position: relative;
    overflow: hidden;
    z-index: 99;
}
.homepage .products .container .gkImage .sertificate{
    position: absolute;
    top: 28px;
    left: 25px;
    padding: 10px;
    background: #8dd842;
    border-bottom-right-radius: 20px;
    border: 1px solid #0d2a0d;
}
.homepage .products .container .gkImage:nth-child(5n+1){
    clear: left;
}

.homepage .products .container .gkImage img{
    width: 100%;
}
.homepage .products .container .gkImage .product-container{
    background: white;
    border: 1px solid #16293a;
    padding: 20px;
}

.homepage .products .container .gkImage:hover .product-container{
    box-shadow: -9px 8px 0px 0px rgb(250 167 34);
    -webkit-box-shadow: -9px 8px 0px 0px rgb(250 167 34);
    -moz-box-shadow: -9px 8px 0px 0px rgba(250,167,34,0.75);
    transition: 0.2s ease all;
}

.homepage .products .container .gkImage > a:hover{
    text-decoration: none;
}
.homepage .products .container .gkImage:hover > a{
    transform: translate(-50% , -50%);
    top: 50%;
}
.homepage .products .container .gkImage > a .button{
    background-color: rgb(165, 154, 0);
    color: rgb(255, 255, 255);
    width: 120px;
    padding: 8px 10px;
    text-align: center;
    border-radius: 7px;    
    font-size: 1em !important;
    font-weight: 700;
    letter-spacing: 1px;
}

.homepage .products .container .gkImage .text{
    text-align: center;    
    min-height: 120px;
}
.homepage .products .container .gkImage .text h4{
    font-weight: 700;
    letter-spacing: 1px;
    font-size: 20px;
    color: #3a7f0d;
}
.homepage .products .container .gkImage .text a:hover{
    text-decoration: none;
}
.homepage .products .container .gkImage .text .prod-price span{
    color: #85c13f;
    font-weight: 700;
    letter-spacing: 2px;
    font-size: 18px;
}
.homepage .products .container .gkImage .text .prod-price span.old{
    font-size: 14px;
}
.homepage .products .container .gkImage .text .prod-price span.old{
    color: #777777;
}

.homepage .our-client{
    background: black;
    color: white;
    padding-bottom: 40px;
    position: relative;
    height: 450px;
    overflow: hidden;
}
.homepage .our-client > .container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.homepage .our-client> img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    opacity: 0.3;
}
/*.homepage .our-client:before{
    background: #000;
    opacity: 0.75;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    margin: auto;
}*/
.homepage .our-client .title{
    text-align: center;
    margin-bottom: 20px;
    z-index: 99;
    position: relative;
}
.homepage .our-client .client{
    display: flex;
    width: fit-content;
    margin: 0 auto;
}
.homepage .our-client .client .item{
    min-width: 180px;
    min-height: 140px;
    position: relative;
}
.homepage .our-client .client .item img{
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.menu h1{
    margin-top: 0px;
}

.about-us .profile{
    background: #2D6420;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 2;
    position: relative;
    margin-bottom: 40px;
}
.about-us .profile:after {
    display: block;
    content: '';
    width: 100%;
    height: 100px;
    background: white;
    position: absolute;
    bottom: 0;
    z-index: -1;
}
.about-us .profile > .container .main-banner img{
    width: 100%;
}
.about-us .profile .story{
    display: flex;
    color: #FFEEBE;
    padding-top: 70px;
    padding-bottom: 40px;
}
.about-us .profile .story >h1{
    color: #FFEEBE;
    width: 30%;
    text-align: left;
}
.about-us .profile .story .content{
    width: 70%;
    font-size: 18px;
    text-align: justify;
}

.about-us .visi-misi{
    margin-bottom: 40px;
}
.about-us h1,
.about-us h3{
    color: #3a7f0d;
}
.about-us h3{
    font-weight: 700;
    margin-bottom: 30px;
}
.about-us .visi-misi p{
    font-size: 18px;
    text-align: justify;
}
.about-us .visi-misi .container{
    max-width: 768px;
}
.about-us .visi-misi .container .misi{
    margin-top: 40px;
}



.about-us .about-value{
    background: #16293A;
    padding: 64px 0 80px;
}
.about-us .about-value h2 {
    color: #FFFEFA;
    font-family: 'Lato', sans-serif;
    font-size: 30px;
    letter-spacing: 1px;
    margin-bottom: 40px;
}
.about-us .about-value span{
    color: #80B643;
    font-size: 32px;
    font-family: 'Lato', sans-serif;
    font-weight: 800;
    letter-spacing: 2px;
}
.about-us .about-value h3{
    color: #FFEEBE;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 1px;
    margin-bottom: 20px;
}
.about-us .about-value p{
    color: #FFFBEF;
    font-size: 16px;
    text-align: justify;
    font-weight:500;
}

.about-us .stucture{
    padding-top: 60px;
}
.about-us .stucture .container > h1{
    margin-bottom: 20px;
}
.about-us .stucture .container > p{
    text-align: center;
    font-size: 18px;
}
.about-us .stucture .container .board{
    margin-top: 40px;
    color: #80B643;
    border-color: #80B643;
    padding-top: 32px;
    border-top: 4px solid;
    margin-bottom: 48px;
    overflow: hidden;
    position: relative;
}
.about-us .stucture .container .board .image{
    position: relative;
}
.about-us .stucture .container .board .image:after{
    display: block;
    content: '';
    position: absolute;
    height: 100px;
    width: 100%;
    background: #e1fbcc;
    z-index: -1;
    bottom: 0;
}
.about-us .stucture .container .board .item{
    text-align: center;
    margin-top: 30px;
    padding: 0px;
}
.about-us .stucture .container .board .item > *{
    padding: 0px 10px;
}
.about-us .stucture .container .board .item .name{
    font-size: 22px;
    color: #0d2a0d;
}
.about-us .stucture .container .board .item{
    font-size: 18px;
}



.about-us .certificate{
    background: #f5ffea;
    padding-top: 60px;
    padding-bottom: 60px;

}
.about-us .certificate .text{
    display: flex;
    padding-bottom: 40px;
}
.about-us .certificate .text h1{
    text-align: left;
    width: 30%;
    font-size: 25px;
}
.about-us .certificate .text p{
    width: 70%;
    font-size: 18px;
    color: #0d2a0d;
}

.about-us .certificate .certificate-items .item{
    margin-top: 10px;
}
.about-us .certificate .certificate-items .item img{
    width: 100%;
}





.back-home.animsition .profile.container > img{
    width: 100%;
    margin-bottom: 30px;
}
.back-home.animsition .profile.container .content{
    margin-top: 30px;
}
.back-home.animsition .profile.container > div{
    overflow: hidden;
    margin-bottom: 30px;
}

.back-home.animsition .profile.container .content p{
    font-size: 18px;
}


.ourproduct .ourproduct-container{
    padding: 0px 0 1px;
    position: relative;
}
.ourproduct .ourproduct-container .container .main-banner img{
    width: 100%;
    position: relative;
    z-index: 3;
}
.ourproduct .ourproduct-container .container .main-content{
    z-index: 3;
    position: relative;
    overflow: hidden;
    margin-top: 43px;
}
.ourproduct .ourproduct-container .container h1{
    text-align: center;
    font-size: 30px;
    font-weight: 700;
    margin-top: 20px;
    color:white;
    padding-left: 25px;
}
.ourproduct .ourproduct-container .container .sidebar-category{
    width: 20%;
    float: left;
}
.ourproduct .ourproduct-container .container .sidebar-category ul{
    list-style: none;
    overflow: hidden;
}
.ourproduct .ourproduct-container .container .sidebar-category ul li{
    float: none;
    border-bottom: 1px solid white;
    margin-right: 2px;
}
.ourproduct .ourproduct-container .container .sidebar-category ul li a{
    background: #16293a;
    padding: 10px 15px;
    font-weight: 500;
    display: block;
    color: white;
    font-size: 17px;
}
.ourproduct .ourproduct-container .container .sidebar-category ul li.current a{
    background: #16293a;
    position: relative;
}
.ourproduct .ourproduct-container .container .sidebar-category ul li.current a:before {
    display: block;
    content: '';
    height: 44px;
    width: 22px;
    top: 0px;
    right: -20px;
    position: absolute;
    background: #16293a;
}
.ourproduct .ourproduct-container .container .sidebar-category ul li a:hover{
    text-decoration: none;    
}

.ourproduct .ourproduct-container .container .main{
    width: 80%;
    float: left;
    background: #16293a;
    position: relative;
}
.ourproduct .ourproduct-container .container .main .toolbar .pagination a{
    color: #858585;
}
.ourproduct .ourproduct-container .container .main .toolbar .pagination .active a{
    background-color: #8dd842;
    border-color: #8dd842;
    color: white;
}
.ourproduct .ourproduct-container .container .main .toolbar .pagination .fa{
    color: #8dd842;
}
.ourproduct .ourproduct-container .container .main .items{
    overflow: hidden;
    margin-top: 20px;
}
.ourproduct .ourproduct-container .container .main .items .item{
    width: calc(100% / 3);
    float: left;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 2em;
    padding-top: 2em;
    position: relative;
    overflow: hidden;
    z-index: 99;
}
.ourproduct .ourproduct-container .container .main .items .item .sertificate {
    position: absolute;
    top: 28px;
    left: 25px;
    padding: 10px;
    background: #8dd842;
    border-bottom-right-radius: 20px;
    border: 1px solid #0d2a0d;
    z-index: 9
}
.ourproduct .ourproduct-container .container .main .items .item:hover .sertificate {
    border-color: #80b643;
}
/*.ourproduct .ourproduct-container .container .main .items .item:hover .product-container {
    box-shadow: -9px 8px 0px 0px rgb(250 167 34);
    -webkit-box-shadow: -9px 8px 0px 0px rgb(250 167 34);
    -moz-box-shadow: -9px 8px 0px 0px rgba(250,167,34,0.75);
    transition: 0.2s ease all;
}*/
.ourproduct .ourproduct-container .container .main .items .item:hover .product-container {
    box-shadow: -9px 8px 0px 0px rgb(128 182 67);
    -webkit-box-shadow: -9px 8px 0px 0px rgb(128 182 67);
    -moz-box-shadow: -9px 8px 0px 0px rgba(250,167,34,0.75);
    transition: 0.2s ease all;
    background: transparent;
    border: 1px solid rgb(128 182 67);
    color: white;
    padding-top: 50px;
}
.ourproduct .ourproduct-container .container .main .items .item:hover .product-container img {
    transition: 0.2s ease all;
    display: none;
}
.ourproduct .ourproduct-container .container .main .items .item .product-container {
    background: white;
    border: 1px solid #16293a;
    padding: 20px;
    position: relative;
    min-height: 412px;
}
.ourproduct .ourproduct-container .container .main .items .item .product-container:hover {
    cursor: pointer;
}

.ourproduct .ourproduct-container .container .main .items .item .product-container > a{
    position: relative;
    display: block;
    width: 100%;
    height: 370px;
}
.ourproduct .ourproduct-container .container .main .items .item:hover .product-container > a{
    display: none;
}
.ourproduct .ourproduct-container .container .main .items .item .product-container > .text{
    display: none;
}
.ourproduct .ourproduct-container .container .main .items .item:hover .product-container > .text{
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    padding: 101px 10px;
}
.ourproduct .ourproduct-container .container .main .items .item .product-container img{
    width: 100%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}

.ourproduct .ourproduct-container .container .main .items .item:nth-child(3n+1){
    clear: left;
}

.ourproduct .ourproduct-container .container .main .items .item > a img{
    width: 100%;
    margin: 0 auto;
    display: block;
}
.ourproduct .ourproduct-container .container .main .items .item > a:hover{
    text-decoration: none;
}
.ourproduct .ourproduct-container .container .main .items .item:hover > a{
    transform: translate(-50% , -50%);
    top: 50%;
}
.ourproduct .ourproduct-container .container .main .items .item > a .button{
    background-color: rgb(165, 154, 0);
    color: rgb(255, 255, 255);
    width: 120px;
    padding: 8px 10px;
    text-align: center;
    border-radius: 7px;    
    font-size: 1em !important;
    font-weight: 700;
    letter-spacing: 1px;
}

.ourproduct .ourproduct-container .container .main .items .item .text{
    text-align: center;
}
.ourproduct .ourproduct-container .container .main .items .item .text h4{
    font-weight: 700;
    letter-spacing: 1px;
    font-size: 20px;
    color: #3a7f0d;
}
.ourproduct .ourproduct-container .container .main .items .item .text a:hover{
    text-decoration: none;
}
.ourproduct .ourproduct-container .container .main .items .item .text .prod-price span{
    color: #85c13f;
    font-weight: 700;
    letter-spacing: 2px;
    font-size: 18px;
}
.ourproduct .ourproduct-container .container .main .items .item .text .prod-price span.old{
    color: #777777;
    font-size: 14px;
}


.ourproduct .ourproduct-container .container .main .search #form_add > button,
.viewall a{
    background: rgba(141, 216, 66, 0.6);
    color: white;
    padding: 5px 15px;
    text-align: center;
    display: block;
    clear: both;
    max-width: 100px;
    /* margin: 0 auto; */
    margin-top: 10px;
    border: 0px;
}



.detailproduct{
    position: relative;
}
.detailproduct .back{
    clear: both;
}
.detailproduct .side{
    text-align: right;
}
.detailproduct .side.detail{
    text-align: justify;
    padding-left: 0px;
    padding-left: 0px;
}
.detailproduct .side.detail h1{
    text-align: left;
}
.detailproduct .side img{
    width: 100%;
    display: block;
    max-width: 400px;    
    margin-top: 20px;
}
.detailproduct .side .price{
    font-size: 20px;
    font-weight: 700;
}
.detailproduct .side .price.old{
    font-size: 14px;
}


.faq .page-header,
.howto .page-header{
    text-align: center;
}
.faq .item{
    overflow: hidden;
    margin-bottom: 30px;
}
.faq .item .text{
    float: left;
    width: 50%;
}
.faq .item .text:nth-child(2n+1){
    clear: left;
}

.howto .big-image img{
    width: 100%;    
    margin-bottom: 20px;
}
.howto .item{
    text-align: justify;
}



.contact-us .page-header {
    padding-bottom: 0px;
    margin: 0px;
    border-bottom: none;
    margin-bottom: 30px;
}
.contact-us .content.location{
    padding: 20px;
    background: #16293a;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 2;
    position: relative;
    margin-bottom: 40px;
}
.contact-us .content form ul{
    list-style: none;
}
.contact-us .content form input,
.contact-us .content form textarea{
    width: 100%;
    height: 3em;
    line-height: 3em;
    margin-bottom: 15px;
    padding: 0 1em;
}
.contact-us .content form input:focus,
.contact-us .content form textarea:focus{
    box-shadow: 0 0 5px rgb(141, 216, 66);
    border: 1px solid rgb(141, 216, 66);
}
.contact-us .content form textarea{
    min-height: 120px;
}
.contact-us .content #button{
    margin-top: 5px;
    color: #fff;
    background: #8DD842;
    border-color: #8dd842;
    text-transform: uppercase;
    font-size: 16px;
    max-width: 165px;
    width: 100%;
    border-radius: 0px;
}
.contact-us .content #button:hover{
    background: black;
    border-color: black;
}

.contact-us .content .box{
    height: 200px;
    padding: 10px;
    padding-top: 15px;
    background: white;
    position: relative;
    border-radius: 0px;
    overflow: hidden;
    text-align: center;
    font-size: 15px;
    font-weight: 700;
}
.contact-us .content .box i{
    display: block;
    font-size: 3em;
    margin-bottom: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.contact-us .content .box .detail{
    position: absolute;
    bottom: -100px;
}
.contact-us .content .box p{
    margin-bottom: 0px;
}
.contact-us .content .boxes:hover .box{
    box-shadow: -9px 8px 0px 0px rgb(128 182 67);
    -webkit-box-shadow: -9px 8px 0px 0px rgb(128 182 67);
    -moz-box-shadow: -9px 8px 0px 0px rgba(250,167,34,0.75);
    transition: 0.2s ease all;
    background: transparent;
    border: 1px solid rgb(128 182 67);
    color: white;
    padding-top: 100px;
}
.contact-us .content .boxes:hover .detail{
    position: relative;
    bottom: unset;
    transition: 0.2s ease all;
}
.contact-us .content .boxes:hover i{
    transform: translateX(-50%);
    top: 22px;
    transition: 0.2s ease all;
    color: rgb(128 182 67);
}
.contact-us #map{
    width: 100%;
}

.content.ecommerce{
    padding: 40px;
}
.content.ecommerce img{
    width: 100%;
    max-height: 94px;
}



.news .content .item{
    clear: both;    
    overflow: hidden;
    margin-bottom: 20px;
}
.news .content .item .news-desc{
    overflow: hidden;
    margin-top: 10px;
}
.news .content .item .news-desc img{
    width: 30%;
    float: left;
}
.news .content .item .news-desc p{
    width: 70%;
    float: left;    
    padding-left: 30px;
    text-align: justify;
}
.news .content .item .viewall{
    display: block;
    float: left;
    padding-left: 30px;
}

.news .content .news-container .news-items{
    background: transparent;
    border: 0px;
    box-shadow: none;
}
.news.list .content .news-container .news-items{
    width: 50%;
    float: left;
    padding: 10px;
}
.news.list .content .news.list .news-container .news-items:hover{
    background: #8dd84240;
}
.mobile-menu {
    display: none;
}
.header .logo-mobile {
    display: none;
}
.header-menu .info {
    display: none;
}

@media only screen and (max-width: 1280px) {
    .prod-price > span{
        display: block;
    }
}
@media only screen and (max-width: 1190px) {
    .header .middle .container div{
        width: 75%;
    }
    .header div.info ul li p,
    .header div.info ul li a{
        font-size: 12px;
    }
    .header .middle div.logo img{
        max-width: 110px;
    }
    .header .header-menu .download{
        width: 100%;
        right: 0px;
        padding: 0px 10px;    
        margin-top: 10px;
    }
    .header .header-menu .download ul{
        overflow: hidden;   
    }
    .header .header-menu .download li:last-child{
        width: 100%;
        max-width: 100%;
        margin: 0px; 
    }
    .header .header-menu .download li:first-child{
        position: absolute;
        right: 10px;
        top: -52px;
    }
    .homepage .why ul li .content{
        height: 350px;
    }
}
@media only screen and (max-width: 1023px) {
    .header .middle > .container{
        display: block;
        padding-top: 20px;
    }
    .header .middle .language{
        top: 20px;
        transform: none;
    }
    .header .middle .container div{
        width: 100%;
        float: none;
        position: relative;
        top: 0px;
        right: unset;
        top: unset;
        left: unset;
        transform: none;    
        max-width: 100%;
    }
    .header .middle .container div.logo{
        display: none;
    }
    .header .middle .header-menu .container{
        padding: 0px;
    }
    .header .header-menu .navbar-nav{
        float: none;
        width: 655px;
        margin: 0 auto;
        margin-top: 20px;
    }
    .header .header-menu .navbar-nav li a{
        font-size: 16px;
    }
    .header .header-menu .logo-mobile{
        display: block;
        text-align: center;
    }
    .header .header-menu .logo-mobile img{
        width: 100%;
        max-width: 70px;
    }



    .homepage .products .container .gkImage {
        width: calc(100% / 2);
    }
    .back-home.animsition .profile.container .side {
        width: 100%;
    }
    .back-home.animsition .side img{
        width: 100%;
    }
    .ourproduct .ourproduct-container .container .sidebar-category{
        width: 30%;
    }
    .ourproduct .ourproduct-container .container .main{
        width: 70%;
    }
    .ourproduct .ourproduct-container .container .main .items .item {
        width: calc(100% / 2);
        padding-left: 15px;
        padding-right: 15px;
        padding-bottom: 1em;
        padding-top: 1em;
    }
    .ourproduct .ourproduct-container .container .main .items .item .product-container{
        min-height: 320px;
    }
    .ourproduct .ourproduct-container .container .main .items .item .product-container > a{
        height: 278px;
    }
    .news .content .item .viewall {
        padding-left: 0px;
        padding-top: 20px;
    }
    .news .content .news-container .news-items.well .item .news-desc p,
    .news .content .news-container .news-items.well .item .news-desc img{
        width: 100%;
    }
    .news .content .news-container .news-items.well .item .news-desc img{
        margin-bottom: 20px;
    }
    .homepage .why ul li{
        width: calc(100% / 2);
    }
}

@media only screen and (max-width: 768px) {
    .header .upper .container > div {
        width: 50%;
    }
    .header .middle .container  > .logo,
    .header .middle .container  > .info{
        display: none;
    }
    .container{
        padding-right: 15px;
        padding-left: 15px;
    }
    .mobile-menu {
        margin-bottom: 10px;
        color: black;
        position: absolute;
        top: 95px;
        left: 0px;
        display: block;
        width: 100%;
        margin-top: 10px;
        padding-left: 20px;
        z-index: 9999;
    }
    .mobile-menu .mobile-menu-container .icon-list-ul{
        position: relative;
        float: left;
    }
    .mobile-menu .mobile-menu-container > span{
        position: relative;
        float: left;
        margin-left: 10px;
        font-size: 18px;
        line-height: 32px;
        color: #797979;
    }
    .mobile-menu .mobile-menu-container .icon-list-ul:before{
        font-size: 30px;
        color: #858585;
    }
    .mobile-menu.active .mobile-menu-container .icon-list-ul:before{
        color: #8dd842;
    }
    .header .header-menu .info {
        position: relative;
        top: initial;
        right: initial;
        top: initial;
        transform: none;
        margin-top: 15px;
        padding: 0px 10px;    
        max-width: 100%;
    }

/*header revisi*/
    .header .header-menu .info {
        margin-top: 60px;
    }


    .header .header-menu .info.active{
        margin-top: 5px;
    }
    .header-menu .info {
        display: block;
    }
    .header .logo-mobile {
        display: block;
        width: 160px;
        max-width: 160px;
        position: relative;    
        margin: 0 auto;
    }
    .header .logo-mobile img{
        width: 100%;
    }
    .header .header-menu .download{
        position: relative;
        top: 0;
        right: 0;
        margin-top: 54px;
        left: initial;
    }
/*header revisi*/
    .header .header-menu .download{
        position: absolute;
       top: 50px;
    }

    .header .header-menu .download li:last-child{
        width: 100%;
        max-width: 152px;
        float: left;
        margin-top: 0px;
        right: 0px;
    }

/*header revisi*/
    .header .header-menu .download li:last-child{
        float: right;
        width: 120px;
        margin-right: 18px;
    }


    .header .header-menu .navbar-nav {
        margin: 0px;    
        margin-top: 60px;
        display: none;
    }
    .header .middle .language{
        top: 105px;
    }
    .header .header-menu.active .navbar-nav {
        display: block;
        width: 100%;
    }
    .header .header-menu .navbar-nav li{
        padding-top: 0px;
        margin: 0px;
        text-align: center;    
        width: 100%;
    }
    .homepage .testimonial h3{
        text-align: center;
    }
    .homepage .testimonial .container .gkImage {
        width: calc(100% / 2);
    }
    .homepage .testimonial .container .gkImage:nth-child(3n+1){
        clear: left;
    }
    .contact-us .content {
        width: 100%;
    }
    .homepage .why ul li{
        width: 100%;
    }
    .homepage .why ul li .content .image img{
        width: 40%;
        margin-top: -34px;
    }

    .about-us .profile > .container .main-banner{
        height: 360px;
        position: relative;
        overflow: hidden;
    }
    .about-us .profile > .container .main-banner img{
        width: initial;
        max-width: initial;
        height: 100%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .about-us .stucture .container .board .image img{
        width: 100%;
    }

    .about-us .profile .story,
    .about-us .certificate .text{
        display: block;
        padding-bottom: 0px;
    }
    .about-us .profile .story > h1,
    .about-us .profile .story >.content,
    .about-us .certificate .text h1,
    .about-us .certificate .text p{
        width: 100%;
    }
    .about-us .profile .story > h1,
    .about-us .certificate .text h1{
        margin-bottom: 20px;
    }

}

@media only screen and (max-width: 639px) {
    .header div.info ul li,
    .footer-container .footer .container > .row{
        width: 100%;    
        margin-bottom: 5px;
    }
    .footer-container .footer .container > .row.about{
        margin-top: 0px;
    }
    .bx-wrapper {
        margin-bottom: 0px;
    }
    .homepage .why{
        padding: 0px;
    }
    .homepage .why h1{
        text-align: center;
    }
    .back-home.animsition .side {
        float: none;
        padding: 0px;
        width: 100%;
        margin-bottom: 10px;
    }
    .homepage .why .side ul li {
        float: none;
        width: 100%;
    }
    .homepage .why .side ul li:nth-child(2n+1) {
        clear: both;
    }
    .back-home.animsition .side .points h2 {
        width: 73%;
    }
    .news .content .item .news-desc img {
        width: 100%;
        float: left;
    }
    .news .content .item .news-desc p {
        width: 100%;
        float: none;
        padding-left: 0px;
    }
    .detailproduct .side.detail{
        position: relative;
        right: 0px;
        top: initial;
        transform: none;
    }
    .homepage .our-client{
        height: 510px;
    }
    .homepage .our-client .client{
        display: block;
    }
    .homepage .our-client .client .item img{
        width: 90%;
    }
    .ourproduct .ourproduct-container .container .sidebar-category{
        float: none;
        width: 100%;
    }
    .ourproduct .ourproduct-container .container .sidebar-category ul{
        display: block;
        overflow: unset;
        margin-bottom: 1px;
    }
    .ourproduct .ourproduct-container .container .sidebar-category ul li{
        float: left;
        border-bottom: 1px solid white;
        margin-right: 0px;
        padding: 1px;
        display: block;
        width: calc((100% / 3));
    }
    .ourproduct .ourproduct-container .container .sidebar-category ul li a{
        border: 1px solid #16293a;
    }
    .ourproduct .ourproduct-container .container .sidebar-category ul li.current a{
        background: #ffffff;
        position: relative;
        color: #3a7f0d;
        border: 1px solid #16293a;
    }
    .ourproduct .ourproduct-container .container .sidebar-category ul li.current a:before{
        display: none;
    }
    .ourproduct .ourproduct-container .container .main{
        width: 100%;
    }
}

@media only screen and (max-width: 479px) {
    .homepage .why .container .title{
        text-align: center;
        display: block;
    }
    .homepage .why .container .title h2,
    .homepage .why .container .title .overview{
        width: 100%;
    }
    .homepage .homepage-container .slider .bx-wrapper .bx-viewport {
        min-height: 80px !important;
    }    
    .homepage .homepage-container .slider .bx-wrapper a{
        display: block;
    }
    .homepage .homepage-container .slider .bx-wrapper a span{
        display: block;
        width: 100%;
        height: auto;
    }
    .homepage .products .container .gkImage {
        width: 100%;
    }
    .homepage .testimonial .container .gkImage {
        width: calc(100%);
    }
    .homepage .testimonial .container .gkImage:nth-child(2n+1){
        clear: both;
    }

    .ourproduct .ourproduct-container .container .sidebar-category ul li{
        width: 100%;
    }
    .ourproduct .ourproduct-container .container .main .items .item {
        width: 100%;
    }
    .ourproduct .ourproduct-container .container .main .items .item .product-container img{
        width: 80%;
    }
    .faq .item .text {
        width: 100%;
    }
    .header .upper .container .text-above .whatsapp {
        font-size: 12px;
    }
    .header .upper .container {
        padding: 0px;
    }
    .about-us .certificate .certificate-items .item{
        width: 100%;
    }
}
@media only screen and (max-width: 380px) {
    .header .upper .container .text-above .whatsapp {
        font-size: 9px;
    }
    .mobile-menu .mobile-menu-container > span{
        font-size: 16px;
        margin-left: 5px;
    }
}
@media only screen and (max-width: 350px) {
    .mobile-menu .mobile-menu-container > span{
        display: none;
    }
}