@font-face {
    font-family: myFirstFont;
    src: url(\assets\css\public\default\fonts\fontawesome-webfont.woff);
}
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
    background-color: white;    
    font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4{
    font-family: 'Roboto', sans-serif;
}
.mobile-menu-container{
    display: none;
}
body .bx-wrapper{
    border: 0px;
    box-shadow: unset;
    background: transparent;
    margin-bottom: 0px;
}

.toolbar .pagination{
    margin-left: 25px;
}
.toolbar .pagination a{
    color: #3a7f0d;
}
.toolbar .pagination .active a{
    background-color: #3a7f0d;
    border-color: #3a7f0d;
    color: white;
}
.toolbar .pagination .fa{
    color: #3a7f0d;
}
.container{
    max-width: 1400px;
    margin: 0 auto;
    width: 100%;    
    padding: 0px 15px;
}
.container .back{
    padding-left: 15px;
}
.container .back a{
    background: rgba(141, 216, 66, 0.6);
    color: white;
    padding: 5px 15px;
    text-align: center;
    display: block;
    clear: both;
    max-width: 117px;
    margin-top: 10px;
    border: 0px;
}

.header .middle .language{
    width: auto;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}
.header .middle .language .selected{
    cursor: pointer;
    text-align: right;
}
.header .middle .language .selected img{
    width: 50px;
    height: 25px;
    border: 1px solid #0d2a0d;
}
.header .middle .language ul{
    display: none;
    list-style: none;
    padding: 0px;
}
.header .middle .language ul.open{
    display: block;
    position: absolute;
    background: #ffffff;
    z-index: 99;
    padding: 10px;
    border: 1px solid #23380f;
    top: 35px;
    right: 0;
}
.header .middle .language ul.open:before{
    display: block;
    content: '';
    height: 10px;
    width: 10px;
    top: -6px;
    right: 5px;
    position: absolute;
    background: #ffffff;
    border-top: 1px solid #23380f;
    border-right: 1px solid #23380f;
    transform: rotate(-46deg);
}
.header .middle .language ul li{
    cursor: pointer;
    max-width: 50px;
    max-height: 25px;
    margin-bottom: 5px;
}
.header .middle .language ul li img{
    width: 50px;
    height: 25px;
    border: 1px solid #0d2a0d;
}

.header .middle{
    transition: all 0.4s ease-in-out 0s;
    z-index: 999;
    background: #ffffff;
    position: relative;
}
.header .middle > .container{
    position: relative;
    display: flex;
    max-width: 100%;
    padding-bottom: 10px;
}
.header .middle div.logo{
    width: 175px;
    padding: 10px;
    box-sizing: border-box;
}
.header .middle div.logo img{
    width: 100%;
    max-width: 200px;;
}
.header .header-menu{
    background-color: transparent;
    width: fit-content;
    position: absolute;
    right: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.header  .middle .header-menu .container{
    position: relative;
    padding: 10px 10px;
    width: 100%;
    display: flex;
}
.header .header-menu .navbar-nav{
    display: block;
    margin-bottom: 0px;
}
.header .header-menu .navbar-nav li{
    padding-top: 0px;
}
.header .header-menu .navbar-nav li a{
    padding: 10px 35px;
    color: #0D2A0D;
    text-transform: capitalize;
    font-size: 18px;
    font-weight: 700;
    transition: all 0.6s ease-in-out 0s;
    font-family: 'Poppins', sans-serif;
}
body.menu .header .header-menu .navbar-nav li:first-child > a{
    color: #0D2A0D;
}
.header .header-menu .navbar-nav li.active > a{
    color: #8dd842;
}
.header .header-menu .navbar-nav li  > a:hover,
.header .header-menu .navbar-nav li > a:focus{
    transition: all 0.6s ease-in-out 0s;
    color: #8dd842;
    background: transparent;
}

.header .header-menu .navbar-nav li ul{
    display: none;
    position: absolute;
    z-index: 9;
    background: white;
    padding: 10px;
    list-style: none;
    width: 300px;
    text-align: left;
}
.header .header-menu .navbar-nav li:hover ul{
    display: block;
}

.header .search-bar{
    padding-left: 40px;
    position: relative;
}
.header .search-bar input{
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-bottom: 2px solid #385624;
}
.header .search-bar input:focus-visible{
    outline: none;
}
.header .search-bar button{
    border: 0px;
    background: transparent;
    position: absolute;
    left: 0;
}

.header .search-bar button i{
    font-size: 28px;
    color:#385624;
}


.wa-icon-float{
    position:fixed;
    width:60px;
    height:60px;
    bottom:40px;
    right:40px;
    background-color:#25d366;
    color:#FFF;
    border-radius:50px;
    text-align:center;
  font-size:30px;
    box-shadow: 2px 2px 3px #999;
  z-index:100;
}

.wa-float{
    margin-top:16px;
}


.menu h1{
    margin-top: 0px;
}


.footer a{
    color:#70aa44;
}
.footer img{
    width: 100%;
}
.footer-container .footer{
    height: auto;
    position: relative;
    background: white;
}
.footer-container .copyright{
    height: auto;
    text-align: center;
    padding: 20px 0px;
    border-top: 1px solid #231f20;
    background: #231f20;
    color: white;
    font-size: 26px;
}
.footer-container .footer .container h3{    
    color: #70aa44;
    font-size: 30px;
    font-weight: 700;
}
.footer-container .footer .container {    
    margin-top: 20px;
    margin: 0;
    max-width: fit-content;
    position: absolute;
    left: 10%;
    top: 180px;
}
.footer-container .footer .container > .row{    
    width: 100%;
    float: left;
    text-align: left;
    margin: 0px;
    padding: 0 10px;
}
.footer-container .footer .container > .row ul{    
    padding: 0px;
    list-style: none;
    text-transform: capitalize;
    font-size: 16px;
    color: #fffbef;
}
.footer-container .footer .container > .row ul li{    
    padding: 2px 0;
}

.footer-container .footer .container > .row .category ul{    
    padding-left: 30px;
    border-left: 5px solid #c0da6d;
    font-size: 30px;
    font-weight: 700;
}
.footer-container .footer .container > .row .category ul li{    
    margin-bottom: 0px;
}

.footer-container .footer .container > .row .social-icon{    
    z-index: 999;
    position: relative;
}
.footer-container .footer .container > .row .social-icon ul{    
    display: flex;
}
.footer-container .footer .container > .row .social-icon ul li{   
    padding: 0px; 
    margin-right: 20px;
}
.footer-container .footer .container > .row .social-icon ul li a{   
    width: 60px;
    display: inline-block;
    height: 60px;
    background: url(../default/img/social-logo.png);
    background-position: -15px -16px;
    background-size: 500%;
}
.footer-container .footer .container > .row .social-icon ul li a.email{   
    background-position: -82px -16px;
}
.footer-container .footer .container > .row .social-icon ul li a.facebook{   
    background-position: -150px -16px;
}
.footer-container .footer .container > .row .social-icon ul li a.instagram{   
    background-position: -227px -16px;
}



/*homepage*/
.homepage-container .slider .bx-controls-direction{
    display: none;
}
.homepage-container .slider.second-banner .bx-pager{
    position: absolute;
    bottom: 50px;
}
.homepage-container .slider.second-banner .bx-pager.bx-default-pager a{
    width: 30px;
    height: 30px;
    border-radius: 30px;
    border: 2px solid #e9f3d1;
    background: transparent;
    margin: 0 10px;
}
.homepage-container .slider.second-banner .bx-wrapper .bx-pager.bx-default-pager a:hover, 
.homepage-container .slider.second-banner .bx-wrapper .bx-pager.bx-default-pager a.active{
    background: #e9f3d1;
}


.homepage-container .slider.content.product{
    max-width: 100%;
    position: relative;
}
.homepage-container .slider.content.product .bx-viewport{
    position: unset !important;
}
.homepage-container .slider.product .bx-wrapper{
    position: unset;
}
.homepage-container .slider.content.product > div{
    margin: 0 auto;
    max-width: 1400px;
}
.homepage-container .slider.product .bx-controls-direction{
    display: block;
}
.homepage-container .slider.product .bx-wrapper .bx-controls-direction a{
    background: url(../default/img/green-arrow.png);
    height: 50px;
}
.homepage-container .slider.product .bx-wrapper .bx-controls-direction a.bx-prev{
    left: 2%;
    background-position: 0px 0px;
}
.homepage-container .slider.product .bx-wrapper .bx-controls-direction a.bx-next{
    right: 2%;
    background-position: -46px 0px;
}

.content{
    max-width: 1400px;
    margin: 0 auto;
    padding-top: 40px;
    padding-bottom: 40px;
}
.homepage-container >  .content.leaf{
    display: flex;
}
.homepage-container >  .content.leaf .text{
    position: relative;
    width: 60%;
}
.homepage-container >  .content.leaf .text > div{
    position: absolute;
    top: 50%;
    left: 0;
    width: 80%;
    transform: translateY(-50%);
}
.homepage-container >  .content.leaf .text > div h2{
    font-weight: 700;
    font-size: 45px;
    margin-bottom: 20px;
}
.homepage-container >  .content.leaf .text > div p{
    font-size: 25px;
}
.homepage-container >  .content.leaf .images{
    position: relative;
    width: 40%;
}
.homepage-container >  .content.map{
    padding-top: 40px;
    padding-bottom: 40px;
}
.homepage-container >  .content.map img{
    width: 100%;
}
.homepage-container >  .content.map h2{
    font-weight: 700;
    font-size: 45px;
    margin-bottom: 40px;
    text-align: center;
}

.homepage-container > .content.product {
    border-bottom: 2px solid #c1db6d;
    padding-bottom: 40px;
    margin-top: 60px;
    margin-bottom: 60px;
}
.homepage-container >  .content.product h2{
    font-weight: 700;
    font-size: 45px;
    padding-bottom: 35px;
    text-align: center;
    border-bottom: 2px solid #c1db6d;
}
.homepage-container >  .content.product ul{
    list-style: none;
    padding:0px;
}
.homepage-container >  .content.product li li{
    width: calc(100% / 3);
    float: left;
}

.content.store{
    display: flex;
    text-align: center;
}
.content.store > h2{
    width: 20%;
    font-weight: 700;
    font-size: 48px;
    color: #70aa44;
    font-family: 'Poppins', sans-serif;
    padding-top: 60px;
}
.content.store > ul{
    width: 80%;
    display: flex;
    list-style: none;
    padding: 0px;
}
.content.store > ul li{
    width: 25%;
}
.content.store > ul li a:hover,
.content.store > ul li a:focus{
    color: #70aa44;
}
.content.store > ul li span{
    display: block;
    padding-top: 20px;
    border-top: 5px solid #c1db6d;
    width: 100%;
    max-width: 186px;
    margin: 20px auto;
    font-weight: 700;
    font-size: 33px;
    color: #70aa44;
    font-family: 'Poppins', sans-serif;
}

.about-us .profile .container{
    display: flex;    
    margin-bottom: 50px;
}
.about-us h1{
    font-weight: 700;
    font-size: 40px;
}
.about-us .subtitle{
    color: #70aa43;
    font-weight: 700;
    font-size: 28px;
}
.about-us .profile h1{
    margin-bottom: 0px;
}
.about-us .profile .container .story{
    width: 40%;
    text-align: justify;
}
.about-us .profile .container .image{
    width: 45%;
    margin-left: auto;
}
.about-us .profile .container .image img{
    width: 100%;
}
.about-us .profile .container .letter{
    width: 40%;
    margin-left: auto;
    text-align: justify;
}
.about-us .profile.letter .container .image{
    width: 38%;
    margin-left: 0;
}

.about-us .visi-misi .background-image{
    position: relative;
}
.about-us .visi-misi .background-image h1{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 40px;
}
.about-us .visi-misi h3{
    color: #70aa43;
    text-transform: uppercase;
    text-align: center;
    font-weight: 700;
    font-size: 30px;
    letter-spacing: 2px;
}
.about-us .visi-misi .container .visi span{
    display: block;
    text-align: center;
    font-size: 22px;
    width: 600px;
    margin: 0 auto;
    margin-top: 40px;
}
.about-us .visi-misi .container .misi{
    position: relative;
    margin-top: 100px;    
    margin-bottom: 60px;
}
.about-us .visi-misi .container .misi:after {
    content: '';
    display: block;
    width: 80%;
    margin: 0 auto;
    border-bottom: 2px solid #e9f3ce;
    padding-top: 60px;
}
.about-us .visi-misi .container .misi > img{
    position: absolute;
    top: -215px;
    left: 50%;
}
.about-us .image img{
    width: 100%;
}

.about-us .value h1,
.about-us .value p{
    text-align: center;
}
.about-us .value .subtitle{
    text-align: center;
    letter-spacing: 0;
    font-style: italic;
    margin-bottom: 30px;
}
.about-us .value p{
    margin-bottom: 0px;
    font-size: 18px;
}
.about-us .value .image{
    margin-top: 30px;
}

.about-us .stucture{
    margin-bottom: 60px;
}
.about-us .stucture h1,
.about-us .certificate h1{
    text-align: center;
    margin-top: 60px;
    margin-bottom: 50px;
    padding-bottom: 50px;
}
.about-us .stucture h1:after,
.about-us .certificate h1:after{
    content: '';
    display: block;
    width: 80%;
    margin: 0 auto;
    border-bottom: 2px solid #e9f3ce;
    padding-top: 60px;
}

.about-us .certificate .certificate-item{
    display: flex;
}
.about-us .certificate .certificate-item > *{
    width: 50%;
}
.about-us .certificate .certificate-item > img{
    padding-right: 20px;
}
.about-us .certificate .certificate-item > .text{
    padding-left: 20px;
}
.about-us .certificate .certificate-item .content{
    padding-top: 0px;
    margin-top: 20px;
}
.about-us .certificate .certificate-item > .text p{
    font-size: 18px;
    text-align: justify;
}

.back-home.animsition .profile.container > img{
    width: 100%;
    margin-bottom: 30px;
}
.back-home.animsition .profile.container .content{
    margin-top: 30px;
}
.back-home.animsition .profile.container > div{
    overflow: hidden;
    margin-bottom: 30px;
}

.back-home.animsition .profile.container .content p{
    font-size: 18px;
}




/*my product*/
.ourproduct .ourproduct-container{
    padding: 0px 0 1px;
    position: relative;
}
.ourproduct .ourproduct-container .main-banner{
    position: absolute;
    top: 0;
    z-index: 0;
}
.ourproduct .ourproduct-container .container{
    z-index: 1;
    position: relative;
}
.ourproduct .ourproduct-container .container .main-content{
    overflow: hidden;
    margin-top: 50px;
}
.ourproduct .ourproduct-container .container h1{
    text-align: center;
    font-size: 30px;
    font-weight: 700;
    margin-top: 20px;
    color:black;
    padding-left: 25px;
}
.ourproduct .ourproduct-container .container .sidebar-category{
    width: 20%;
    float: left;
}
.ourproduct .ourproduct-container .container .sidebar-category h2{
    font-weight: 700;
    margin-bottom: 35px;
}
.ourproduct .ourproduct-container .container .sidebar-category ul{
    list-style: none;
    height: 200px;
    max-height: 200px;
    overflow-y: auto;
}
.ourproduct .ourproduct-container .container .sidebar-category ul li{
    float: none;
    margin-right: 2px;
}
.ourproduct .ourproduct-container .container .sidebar-category ul li:hover{
    background: #badb6654;
}
.ourproduct .ourproduct-container .container .sidebar-category ul li a{
    font-weight: 500;
    display: block;
    color: black;
    font-size: 17px;
}
.ourproduct .ourproduct-container .container .sidebar-category ul li.current a{
    position: relative;
}
.ourproduct .ourproduct-container .container .sidebar-category ul li a:hover{
    text-decoration: none;    
}

.ourproduct .ourproduct-container .container .main{
    width: 80%;
    float: left;
    position: relative;
}
.ourproduct .ourproduct-container .container .main .search-product,
.ourproduct .ourproduct-container .container .main .sortby {
    position: relative;
    width: fit-content;
    margin-left: auto;
    margin-top: 20px;
}
.ourproduct .ourproduct-container .container .main .search-product input{
    border: 0px;
    border-radius: 18px;
    height: 30px;
    padding-left: 35px;
}
.ourproduct .ourproduct-container .container .main .search-product button{
    background: transparent;
    border: 0px;
    position: absolute;
    top: 5px;
    left: 5px;
}

.ourproduct .ourproduct-container .container .main .sortby {
    position: relative;
    width: fit-content;
    margin-left: auto;
    margin-top: 20px;
}
.ourproduct .ourproduct-container .container .main .sortby select{
    border: 0px;
    background: transparent;
    width: 85px;
}
.ourproduct .ourproduct-container .container .main .sortby select:focus-visible{
    outline: unset;
}


.ourproduct .ourproduct-container .container .main .items{
    overflow: hidden;
}
.ourproduct .ourproduct-container .container .main .items .item{
    width: calc(100% / 3);
    float: left;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 2em;
    position: relative;
    overflow: hidden;
    z-index: 99;
}
.ourproduct .ourproduct-container .container .main .items .item .product-container {
    background: white;
    padding: 20px;
    position: relative;
    min-height: 405px;
}
.ourproduct .ourproduct-container .container .main .items .item .product-container .desc{
    position: absolute;
    max-height: 200px;
    height: 200px;
    overflow: auto;
    width: 80%;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    background: white;
    padding: 10px;
    border: 2px solid #badb66;
    text-align: justify;
    border-radius: 8px;
    display: none;
}
.ourproduct .ourproduct-container .container .main .items .item .product-container:hover .desc{
    display: block;
}
.ourproduct .ourproduct-container .container .main .items .item:nth-child(3n+1){
    clear: left;
}

.ourproduct .ourproduct-container .container .main .items .item a:hover{
    cursor: unset;
    pointer-events: none;
}
.ourproduct .ourproduct-container .container .main .items .item a img{
    width: 100%;
    margin: 0 auto;
    display: block;
}

.ourproduct .ourproduct-container .container .main .items .item .text{
    text-align: center;
}
.ourproduct .ourproduct-container .container .main .items .item .text h4{
    font-weight: 700;
    letter-spacing: 1px;
    font-size: 20px;
    color: black;
}
.ourproduct .ourproduct-container .container .main .items .item .text a:hover{
    text-decoration: none;
}
.ourproduct .ourproduct-container .container .main .items .item .text .prod-price span{
    color: black;
    font-weight: 700;
    letter-spacing: 2px;
    font-size: 18px;
    display: block;
}
.ourproduct .ourproduct-container .container .main .items .item .text .prod-price span.old{
    color: black;
    font-size: 14px;
}
.ourproduct .ourproduct-container .container .main .search #form_add > button,
.viewall a{
    background: rgba(141, 216, 66, 0.6);
    color: white;
    padding: 5px 15px;
    text-align: center;
    display: block;
    clear: both;
    max-width: 100px;
    /* margin: 0 auto; */
    margin-top: 10px;
    border: 0px;
}

.back-home.animsition .product-detail-container > h1 {
    display: none;
}
.contact-faq h1{
    font-weight: 700;
    font-size: 45px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 30px;
    border-bottom: 2px solid #e9f3ce;
    padding-bottom: 30px;
}
.contact-faq h1 span{
    display: block;
    font-size: 18px;
    font-weight: 500;
    margin-top: 10px;
}

.contact-faq .faq {
    margin-top: 40px;
}
.contact-faq .faq > span{
    text-align: center;
    display: block;
    padding: 0px 15px;
    padding-bottom: 40px;
    max-width: 1400px;
    margin: 0 auto;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 30px;
    border-bottom: 2px solid #e9f3ce;
}
.contact-faq .faq .container .title{
    font-weight: 700;
}
.contact-faq .faq .container .title p{
    margin-bottom: 2px;
}
.contact-faq .faq .container .content{
    padding: 0px;
    font-weight: 100;
}

.contact-faq .contact form{
    width: 90%;
    margin: 0 auto;
}
.contact-faq .contact form ul{
    list-style: none;
}
.contact-faq .contact form ul li {
    width: 100%;
    margin-bottom: 10px;
}
.contact-faq .contact form ul li.kontak_nama{
    width: 50%;
    float: left;
}
.contact-faq .contact form ul li.kontak_nama#first_name{
    padding-right: 5px;
}
.contact-faq .contact form ul li.kontak_nama#last_name{
    padding-left: 5px;
}
.contact-faq .contact form ul li input,
.contact-faq .contact form ul li textarea,
.contact-faq .contact form ul li select  {
    width: 100%;
    height: 40px;
    border: 1px solid #bdbdbd;
    padding: 10px;
    border-radius: 5px;
}
.contact-faq .contact form ul li textarea{
    min-height: 150px;
}
.contact-faq .contact form .btn-success{
    float: right;
    background: #70aa43;
    border: 0px;
    width: 120px;
    border-radius: 12px;
}
.contact-faq .map{
    margin-bottom: 40px;
}



.news-detail .main-banner{
    max-width: 1400px;
    margin: 0 auto;
    padding: 0px 15px;
    text-align: center;
}


.news-container{
    position: relative;
}
.news-container .owl-nav{
    position: absolute;
    top: 50%;
    width: 100%;
    transform: translateY(-50%);
    z-index: 2;
}
.content .news-container .owl-nav .owl-prev,
.content .news-container .owl-nav .owl-next{
    width: 35px;
    height: 35px;
    background: white;
    border-radius: 35px;
    left: 2%;
    position: absolute;
}
.content .news-container .owl-nav .owl-next{
    left: unset;
    right: 2%;
}

.content .news-container .owl-nav .owl-next span,
.content .news-container .owl-nav .owl-prev span{
    font-size: 30px;
    line-height: 30px;
}

.news .bx-wrapper{
    max-width: 100% !important;
}
.news h1{
    text-align: center;
    font-size: 40px;
    font-weight: 700;
    width: fit-content;
    margin: 0 auto;
}
.news h1 select{
    font-weight: 300;
    font-size: 18px;
    border: 0px;
    display: block;
    margin-left: auto;
}
.news .trending,
.news .recent{
     margin-top: 60px;
}
.news .trending h4,
.news .recent h4{
    text-transform: uppercase;
    font-size: 22px;
    margin-bottom: 10px;
}
.trending-content img,
.recent-content img{
    width: 100%;
}
.trending-content h2,
.recent-content h2{
    max-width: 400px;
    width: 100%;
    font-size: 36px;
    font-weight: 700;
    text-align: center;
    margin: 40px auto;
    margin-bottom: 20px;
    text-transform: uppercase;
}
.trending-content button,
.recent-content button{
    background: #70a942;
    border: 1px solid #70a942;
    color: white;
    font-weight: 500;
    padding: 5px 16px;
    font-size: 18px;
    border-radius: 20px;
    display: block;
    margin: 0 auto;
}
.news.list .item{
    border: 2px solid #c3d873;
    max-height: 400px;
    position: relative;
}
.news.list .news-desc{
    padding: 10px;
    font-size: 16px;
    text-align: justify;
}
.news.list .item a{
    position: absolute;
    bottom: 10px;
    right: 10px;
    z-index: 2;
    background: #70a942;
    border: 1px solid #70a942;
    color: white;
    padding: 5px 10px;
    border-radius: 25px;
}
.news.list .item a:hover{
    text-decoration: none;
}
.news.list .item:after{
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 100px;
    bottom: 0;
    z-index: 1;
    background: rgb(255,255,255);
    background: linear-gradient(
    0deg
    , rgba(255,255,255,1) 0%, rgba(255,255,255,0.6558998599439776) 51%, rgba(255,255,255,0) 100%);
    }
}


.mobile-menu {
    display: none;
}
.header .logo-mobile {
    display: none;
}
.header-menu .info {
    display: none;
}

@media only screen and (max-width: 1280px) {
    .prod-price > span{
        display: block;
    }
    .homepage .products .container .gkImage .product-container{
       min-height: 320px;
    }
/*    .homepage .products .container .gkImage .product-container > a{
        height: 278px;
    }*/
}
@media only screen and (max-width: 1190px) {
    .header .middle .container div{
        width: 75%;
    }
    .header div.info ul li p,
    .header div.info ul li a{
        font-size: 12px;
    }
    .header .middle div.logo img{
        max-width: 110px;
    }
    .header .header-menu .download{
        width: 100%;
        right: 0px;
        padding: 0px 10px;    
        margin-top: 10px;
    }
    .header .header-menu .download ul{
        overflow: hidden;   
    }
    .header .header-menu .download li:last-child{
        width: 100%;
        max-width: 100%;
        margin: 0px; 
    }
    .header .header-menu .download li:first-child{
        position: absolute;
        right: 10px;
        top: -52px;
    }
    .homepage .why ul li .content{
        height: 350px;
    }
}
@media only screen and (max-width: 1023px) {
    .header .middle > .container{
        display: block;
        padding-top: 20px;
    }
    .header .middle .language{
        top: 20px;
        transform: none;
    }
    .header .middle .container div{
        width: 100%;
        float: none;
        position: relative;
        top: 0px;
        right: unset;
        top: unset;
        left: unset;
        transform: none;    
        max-width: 100%;
    }
    .header .middle .container div.logo{
        display: none;
    }
    .header .middle .header-menu .container{
        padding: 0px;
    }
    .header .header-menu .navbar-nav{
        float: none;
        width: fit-content;
        margin: 0 auto;
        margin-top: 20px;
    }
    .header .header-menu .navbar-nav li a{
        font-size: 16px;
    }
    .header .header-menu .logo-mobile{
        display: block;
        text-align: center;
    }
    .header .header-menu .logo-mobile img{
        width: 100%;
        max-width: 70px;
    }



    .homepage .products .container .gkImage {
        width: calc(100% / 2);
    }
    .back-home.animsition .profile.container .side {
        width: 100%;
    }
    .back-home.animsition .side img{
        width: 100%;
    }
    .ourproduct .ourproduct-container .container .sidebar-category{
        width: 30%;
    }
    .ourproduct .ourproduct-container .container .main{
        width: 70%;
    }
    .ourproduct .ourproduct-container .container .main .items .item {
        width: calc(100% / 2);
        padding-left: 15px;
        padding-right: 15px;
        padding-bottom: 1em;
        padding-top: 1em;
    }
    .ourproduct .ourproduct-container .container .main .items .item .product-container{
        min-height: 320px;
    }
    .news .content .item .viewall {
        padding-left: 0px;
        padding-top: 20px;
    }
    .news .content .news-container .news-items.well .item .news-desc p,
    .news .content .news-container .news-items.well .item .news-desc img{
        width: 100%;
    }
    .news .content .news-container .news-items.well .item .news-desc img{
        margin-bottom: 20px;
    }
    .homepage .why ul li{
        width: calc(100% / 2);
    }
}

@media only screen and (max-width: 992px) {
    .news .content .news-container .news-items{
        width: 50%;
        float: left;
    }
    .news .content .toolbar .pagination{
        margin-left: 0px;
    }
    .news .sidebar{
        margin-bottom: 20px;
    }
}
@media only screen and (max-width: 768px) {
    .header .upper .container > div {
        width: 50%;
    }
    .header .middle .container  > .logo,
    .header .middle .container  > .info{
        display: none;
    }
    .container{
        padding-right: 15px;
        padding-left: 15px;
    }
    .mobile-menu {
        margin-bottom: 10px;
        color: black;
        position: absolute;
        top: 95px;
        left: 0px;
        display: block;
        width: 100%;
        margin-top: 10px;
        padding-left: 20px;
        z-index: 9999;
    }
    .mobile-menu .mobile-menu-container .icon-list-ul{
        position: relative;
        float: left;
    }
    .mobile-menu .mobile-menu-container > span{
        position: relative;
        float: left;
        margin-left: 10px;
        font-size: 18px;
        line-height: 32px;
        color: #797979;
    }
    .mobile-menu .mobile-menu-container .icon-list-ul:before{
        font-size: 30px;
        color: #858585;
    }
    .mobile-menu.active .mobile-menu-container .icon-list-ul:before{
        color: #8dd842;
    }
    .header .header-menu .info {
        position: relative;
        top: initial;
        right: initial;
        top: initial;
        transform: none;
        margin-top: 15px;
        padding: 0px 10px;    
        max-width: 100%;
    }

/*header revisi*/
    .header .header-menu .info {
        margin-top: 60px;
    }


    .header .header-menu .info.active{
        margin-top: 5px;
    }
    .header-menu .info {
        display: block;
    }
    .header .logo-mobile {
        display: block;
        width: 160px;
        max-width: 160px;
        position: relative;    
        margin: 0 auto;
    }
    .header .logo-mobile img{
        width: 100%;
    }
    .header .header-menu .download{
        position: relative;
        top: 0;
        right: 0;
        margin-top: 54px;
        left: initial;
    }
/*header revisi*/
    .header .header-menu .download{
        position: absolute;
       top: 50px;
    }

    .header .header-menu .download li:last-child{
        width: 100%;
        max-width: 152px;
        float: left;
        margin-top: 0px;
        right: 0px;
    }

/*header revisi*/
    .header .header-menu .download li:last-child{
        float: right;
        width: 120px;
        margin-right: 18px;
    }


    .header .header-menu .navbar-nav {
        margin: 0px;    
        margin-top: 60px;
        display: none;
    }
    .header .middle .language{
        top: 105px;
    }
    .header .header-menu.active .navbar-nav {
        display: block;
        width: 100%;
    }
    .header .header-menu .navbar-nav li{
        padding-top: 0px;
        margin: 0px;
        text-align: center;    
        width: 100%;
    }
    .homepage .testimonial h3{
        text-align: center;
    }
    .homepage .testimonial .container .gkImage {
        width: calc(100% / 2);
    }
    .homepage .testimonial .container .gkImage:nth-child(3n+1){
        clear: left;
    }
    .contact-us .content.location > .container{
        display: block;
    }
    .contact-us .content.location > .container .headoffice,
    .contact-us .content.location > .container .content.form{
        width: 100%;
    }
    .contact-us .content.location > .container .content.form{
        margin-top: 40px;
    }
    .contact-us .content.location > .container .content.form .container{
        padding: 0px;
    }
    .contact-us .content {
        width: 100%;
    }
    .homepage .why ul li{
        width: 100%;
    }
    .homepage .why ul li .content .image img{
        width: 50%;
        margin-top: -34px;
    }

    .homepage .why ul li:hover .content{
        padding-top: 44px;
    }

    .about-us .profile > .container .main-banner{
        height: 360px;
        position: relative;
        overflow: hidden;
    }
    .about-us .profile > .container .main-banner img{
        width: initial;
        max-width: initial;
        height: 100%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .about-us .stucture .container .board .image img{
        width: 100%;
    }

    .about-us .profile .story,
    .about-us .certificate .text{
        display: block;
        padding-bottom: 0px;
    }
    .about-us .profile .story > h1,
    .about-us .profile .story >.content,
    .about-us .certificate .text h1,
    .about-us .certificate .text p{
        width: 100%;
    }
    .about-us .profile .story > h1,
    .about-us .certificate .text h1{
        margin-bottom: 20px;
    }


    .news .content{
        padding: 0px;
    }
    .news .content .news-container .news-items{
        width: 100%;
        float: none;
    }
    .news-detail .content{
        width: 100%
    }

}

@media only screen and (max-width: 639px) {
    .header div.info ul li,
    .footer-container .footer .container > .row{
        width: 100%;    
        margin-bottom: 5px;
    }
    .footer-container .footer .container > .row.about{
        margin-top: 0px;
    }
    .bx-wrapper {
        margin-bottom: 0px;
    }
    .homepage .why{
        padding: 0px;
    }
    .homepage .why h1{
        text-align: center;
    }
    .back-home.animsition .side {
        float: none;
        padding: 0px;
        width: 100%;
        margin-bottom: 10px;
    }
    .homepage .why .side ul li {
        float: none;
        width: 100%;
    }
    .homepage .why .side ul li:nth-child(2n+1) {
        clear: both;
    }
    .back-home.animsition .side .points h2 {
        width: 73%;
    }
    .news .content .item .news-desc img {
        width: 100%;
        float: left;
    }
    .news .content .item .news-desc p {
        width: 100%;
        float: none;
        padding-left: 0px;
    }
    .detailproduct .side.detail{
        position: relative;
        right: 0px;
        top: initial;
        transform: none;
    }
    .homepage .our-client{
        height: 510px;
    }
    .homepage .our-client .client{
        display: block;
    }
    .homepage .our-client .client .item img{
        width: 90%;
    }
    .ourproduct .ourproduct-container .container .sidebar-category{
        float: none;
        width: 100%;
    }
    .ourproduct .ourproduct-container .container .sidebar-category ul{
        display: block;
        overflow: unset;
        margin-bottom: 1px;
    }
    .ourproduct .ourproduct-container .container .sidebar-category ul li{
        float: left;
        margin-right: 0px;
        padding: 1px;
        display: block;
        width: calc((100% / 3));
    }
    .ourproduct .ourproduct-container .container .sidebar-category ul li a{
        color: #3a7f0d;
        border: 1px solid #16293a;
        background: white;
    }
    .ourproduct .ourproduct-container .container .sidebar-category ul li.current a{
        background: #16293a;
        position: relative;
        color: white;
    }
    .ourproduct .ourproduct-container .container .sidebar-category ul li.current a:before{
        display: none;
    }
    .ourproduct .ourproduct-container .container .main{
        width: 100%;
    }


    .back-home.animsition .product-detail-container > h1 {
        display: block;
        margin-top: 30px;
        margin-bottom: 30px;
    }
    .back-home.animsition .detailproduct{
        margin-top: 0px;
    }
    .back-home.animsition .detailproduct .side {
        text-align: center;
    }
    .back-home.animsition .detailproduct .side h1{
        display: none;
    }
    .back-home.animsition .detailproduct .side.detail{
        margin-top: 30px;
        text-align: justify;
    }

    .news-detail .main-banner img,
    .faq .main-banner img{
        width: initial;
    }
    .contact-us .content.social .container > div{
        float: left;
        margin-right: 0px;
        margin-bottom: 10px;
        width: calc(100% /3);
        max-width: 100px;
    }
    .contact-us .content.social .container > div:nth-child(3n+1){
        clear: left;
    }
    .contact-us .content.social .container > div a{
        margin: 0 auto;
    }
    .contact-us .content.social .container > div:last-child{
        margin-right: 0px;
    }
    .contact-us .content.social .container > div.facebook{
        margin: 0;
    }
    .contact-us .content.social .container > div:not(.facebook){
        position: relative;
        top: unset;
        transform: none;
        left: unset;
    }
}

@media only screen and (max-width: 479px) {
    .homepage .why .container .title{
        text-align: center;
        display: block;
    }
    .homepage .why .container .title h2,
    .homepage .why .container .title .overview{
        width: 100%;
    }
    .homepage .homepage-container .slider .bx-wrapper .bx-viewport {
        min-height: 80px !important;
    }    
    .homepage .homepage-container .slider .bx-wrapper a{
        display: block;
    }
    .homepage .homepage-container .slider .bx-wrapper a span{
        display: block;
        width: 100%;
        height: auto;
    }
    .homepage .products .container .gkImage {
        width: 100%;
        padding-left: 10px;
        padding-right: 10px;
        padding-bottom: 1em;
        padding-top: 1em;
    }
    .homepage .products .container .gkImage .sertificate{
        top: 14px;
        left: 10px;
    }
    .ourproduct .ourproduct-container .container .sidebar-category ul li{
        width: 100%;
    }
    .ourproduct .ourproduct-container .container .main .items .item {
        width: 100%;
    }
    .ourproduct .ourproduct-container .container .main .items .item .product-container img{
        width: 80%;
    }
    .faq .item .text {
        width: 100%;
    }
    .header .upper .container .text-above .whatsapp {
        font-size: 12px;
    }
    .header .upper .container {
        padding: 0px;
    }
    .about-us .certificate .certificate-items .item{
        width: 100%;
    }
}
@media only screen and (max-width: 380px) {
    .header .upper .container .text-above .whatsapp {
        font-size: 9px;
    }
    .mobile-menu .mobile-menu-container > span{
        font-size: 16px;
        margin-left: 5px;
    }
}
@media only screen and (max-width: 350px) {
    .mobile-menu .mobile-menu-container > span{
        display: none;
    }
}